<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuc0nkCJn_ky18gexgOGVjYwZE9dksFV4</string>
	<key>BUNDLE_ID</key>
	<string>com.hogga.app.hogga</string>
	<key>GCM_SENDER_ID</key>
	<string>1085294513517</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085294513517:ios:6868de897b0274061ade64</string>
	<key>PROJECT_ID</key>
	<string>hogga-74daa</string>
	<key>STORAGE_BUCKET</key>
	<string>hogga-74daa.firebasestorage.app</string>
</dict>
</plist>
